.Info {
  position: fixed;
  height: 110px;
  width: 450px;
  background-color: rgba(248, 247, 247, 0.192);
  bottom: 25px;
  right: 40px;
  border-radius: 35px;
  text-align: center;

  opacity: 0;
  animation: ani 2.5s forwards ;
}

@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

.infoTitle {
  font-size: 20px;
  color: azure;
}

.infoAuthor {
  color: azure;
  font-style: italic;
}

.infoGif {
    position: absolute;
    height: 40px;
    left: 30px;
    top: 35px;
}

.range {
    position: absolute;
    width: 100px;
    transform: rotate(-90deg);
    right: 0px;
    top: 45px; 
}
