li {
  list-style-type: none;
  border: 1px solid rgb(77, 83, 136);
  margin-bottom: 15px;
  border-radius: 15px;
  padding-left: 25px;
  height: 110px;
  background-color: rgba(90, 92, 182, 0.2);
}

.title {
  font-weight: 700;
  font-size: larger;
  color: aliceblue;
}

.author {
  font-style: italic;
  color: aliceblue;
}

.Pausebtn {
  width: 75px;
  position: relative;
  left: 250px;
  bottom: 70px;
  height: 50px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid rgb(112, 109, 109);
  margin-right: 10px;

}
.Pausebtn img {
  top: 3px;
  position: relative;
  height: 30px;
  opacity: 0.5;
}

.Playbtn {
  width: 75px;
  position: relative;
  left: 250px;
  bottom: 70px;
  height: 50px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid rgb(112, 109, 109);
  margin-right: 10px;
}

.Playbtn img {
  top: 3px;
  position: relative;
  height: 30px;
  opacity: 0.5;
}

.Playbtn:hover img{
  opacity: 1;
}

.Pausebtn:hover img{
  opacity: 1;
}


html {
  background-image: url("https://oir.mobi/uploads/posts/2021-03/1616587196_15-p-temno-sinii-fon-dlya-prezentatsii-16.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

