li {
  list-style-type: none;
  border: 1px solid rgb(204, 199, 199);
  margin-bottom: 15px;
  border-radius: 15px;
  padding-left: 25px;
  height: 110px;
}

.title {
  font-weight: 600;
  font-size: larger;
}

.author {
  font-style: italic;
}

.Pausebtn {
  width: 75px;
  position: relative;
  left: 250px;
  bottom: 70px;
  height: 50px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid rgb(112, 109, 109);
  margin-right: 10px;
}
.Pausebtn img {
  top: 3px;
  position: relative;
  height: 30px;
  opacity: 0.5;
}

.Playbtn {
  width: 75px;
  position: relative;
  left: 250px;
  bottom: 70px;
  height: 50px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid rgb(112, 109, 109);
  margin-right: 10px;
}

.Playbtn img {
  top: 3px;
  position: relative;
  height: 30px;
  opacity: 0.5;
}

.Playbtn:hover img{
  opacity: 1;
}

.Pausebtn:hover img{
  opacity: 1;
}




